html
body
	margin: 0
	padding: 0

html
	width: 100%
	height: 100%
	touch-action manipulation
	color: cor.gray
	background-color: cor.white
	font-size: 1em
	line-height: 1.4

body
	width: 100%
	word-wrap: break-word
