@import '../../node_modules/chico/dist/ui/chico.css'
@import '../../node_modules/flickity/dist/flickity.css'

@import 'stick/vars'

@import 'component/carousel'
@import 'component/tab'

@import 'layout/base'
@import 'layout/produto'
